@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

*{
	margin: 0px;
	padding: 0px;
	/*overflow-y: hidden;*/
}


/*DIVS div#all-page div#header  div#content   div#footer */


/* ===================================== HEADER ============================================ */

div.header {
	width: 100%;
	height: 100px;
	background-color: rgba(245, 184, 8,1);
}

div.header img.logo {
	width: 200px;
	height: 70px;
	position: relative;
	left: 80px;
	padding: 13px;
}

div.header h1.brand {
	position: relative;
	margin-left: 320px;
	margin-top: -70px;
	font-family: 'Barlow', sans-serif;
	font-size: 45px;
}

	/* ====================================== CONTENT ============================================ */
div.content {
	width: 100%;
	height: 600px;
	background-color: #f3f3f3;
	display: flex;
	flex-wrap: wrap;
}



/*    HIT   */

div.content div.hit {
	width: 40%;
	height: 550px;
	background: white;
	margin-left: 110px;
	margin-top: 25px;
	position: relative;
	border: solid 2pt gray;
	border-radius: 5%;
}


div.hit ul.list-hit {
	font-family: 'Barlow', sans-serif;
}



div.hit ul.list-hit li {
	margin: 10px;
	list-style: none;
	font-size: 15pt;
	margin-left: 10px;
	color: black;
	margin-bottom: 20px;

}

ul.list-hit h3 {
	font-size: 18pt;
	margin-left: 10px;
	margin-top: 40px;
}

div.hit ul.list-hit h1.title {
	margin-left: 130px;
	font-size: 20pt;
	color: black;
	margin-bottom: 20px;
}


ul.list-hit img.symbol {
	width: 40px;
	height: 40px;
	position: relative;
	float: right;
	top: -70px;
	margin-bottom: 40px;
	margin-right: 15px;
}



/*    GO AHEAD    */


div.content div.goahead{
	width: 40%;
	height: 550px;
	background: white;
	margin-left: 20px;
	margin-top: 25px;
	position: relative;
	border: solid 2pt gray;
	border-radius: 5%;
}


div.goahead ul.list-goahead {
	font-family: 'Barlow', sans-serif;
}



div.goahead ul.list-goahead li {
	margin: 10px;
	list-style: none;
	font-size: 15pt;
	margin-left: 10px;
	color: black;
	margin-bottom: 20px;
}

ul.list-goahead h3 {
	font-size: 18pt;
	margin-left: 10px;
}

div.goahead ul.list-goahead h1.title {
	margin-left: 130px;
	font-size: 20pt;
	color: black;
	margin-bottom: 20px;
}


ul.list-goahead img.symbol {
	width: 40px;
	height: 40px;
	position: relative;
	float: right;
	top: -70px;
	margin-bottom: 40px;
	margin-right: 15px;
}



	/*=======================================  FOOTER ========================================== */
div.footer {
	width: 100%;
	height: 100px;
	background-color: rgba(245, 184, 8,1);
}

